/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#heroSection {
    background-image: url(images/beach.jpeg);
    font-family: "Akshar", sans-serif;
    flex-direction: column;
}

#title {
    padding: 1px 9px 1px 9px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #1D3557;
    color: #FFFFFF;
}

#description {
    padding: 5px 29px 9px 28px;
    background-color: #457B9D;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    margin-top: 11px;
}

#activitiesSection {
    background-color: #8CBAAA;
    font-family: "Open Sans", sans-serif;
    color: #1D3557;
}

#activitiesTitle {
    margin-top: 28px;
    font-size: 22px;
    font-weight: 400;

}

#activities {
    display: flex;
    justify-content: space-between;
}

#guideSection {
    font-family: "Open Sans", sans-serif;
    color: #1D3557;
}

#myGuide {
    width: 400px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6490AB;
    border-radius: 10px;
    box-shadow: 0 5px 0 #1D3557;
}

#myGuideImg {
    margin-top: 70px;
}

/* Class */

.sectionSize {
    width: 720px;
    height: 343px;
}

.activitieSize {
    width: 200px;
    height: 230px;
}

.img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

.flexDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}